<div class="main">
  <h1>Мои задачи</h1>
  <table class="style-table">
    <tr>
      <th>Название мероприятия</th>
      <th>Задача</th>
      <th>Статус</th>
      <th>Дата мероприятия</th>
    </tr>
    <% @my_tasks.each do |event| %>
      <% event.tasks.each do |task| %>
        <tr>
          <td><a href="<%= event_path(event) %>", class="no-line"><p><%= event.name %></p></a></td>
          <td><%= task.name %></td>
          <td> <%= form_with url: "/task/update/#{task.id}", method: :put do |f| %>
                <%= f.select :status, options_for_select(['Новая', 'В работе', 'Завершена'], selected: task.status)%>
                <%= f.submit 'Сохранить', class:"form-submit-button"%>
            <% end %></td>
          <td><%= event.date %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
